@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Fira+Code:wght@300;400;500;600;700&display=swap');

@media only screen and (min-width: 992px) {
	body {
		padding-left: 320px;
	}
	
	#navbar {
		height: 100vh;
		width: 300px;
	}

	section:not(section#skill) {
		min-height: 100vh;
		height: 100vh;
	}
}

* {
	font-family: 'Fira Code', monospace;
}

#hero-section {
	height: 100vh;
	padding-top: 90px !important;
}

#hero-section .social-media {
	width: 10rem;
}

.card {
	width: 12rem;
}